<!DOCTYPE HTML>
<html>

    <head>
        <link rel="stylesheet" href="main.css">
        <title>SYMP</title>
    </head>

    <body>

        <div>
            <h1>----^---SYMP---^----</h1>
        </div>

        <div id="container"></div>
        <div class="center">
            <button id="generate" class="1st_btn">Choose Device to run tests on</button>
        </div>
    
        <div>
            <script src="../Static/js/Handle_Front.js"> </script>
        </div>
        <div id="Display_form" class="lst_div">
        </div>  
    </body>

</html>