<!DOCTYPE HTML>
<html>
    <head>
        <title>SYMP</title>
    </head>

    <body>

        <script>
            if(window.navigator.platform.includes("Linux")){
                
            } else if(window.navigator.platform.includes("Win")){

            }
        </script>

        <div>
            <h1>---^---SYMP---^----</h1>
        </div>

        <div id="container"></div>
        <div>
            <button id="generate">Choose Device to run tests on</button>
        </div>
    
        <div>
            <script src="../Static/js/Handle_Front.js"> </script>
        </div>
        <div id="Display_form">
        </div>  
    </body>

</html>